<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>{{title}}</title>

<body>
    <div class="top">
        <h1>Home Page</h1>
    </div>

    <div class="first_form">
        <form action="/submit" method="POST">
            <input name="input" type="text" placeholder="Example" required="required">
            <input type="submit" class="mainBtn">
        </form>

    </div>
</body>

<style>
    .top {
        background-color: black;
        color: white;
        text-align: center;
    }

    .first_form {
        position: relative;
        display: inline-block;
        margin: auto auto;
    }

    .mainBtn {
        position: relative;
    }
</style>

</html>